# Ignore all logfiles and tempfiles.
/log/*
/tmp/*

!/log/.keep
!/tmp/.keep

.bundle
.byebug_history
.DS_Store
.idea
.ruby-gemset
*.log
*.sw*
.irbhistory
coverage

/*.iml

version\.txt

# Ignore swagger documentation because we generate it on CI
/swagger

/*.env

db/schema_cache.yml
vendor
